#firstNum, #secondNum, #answer{
    padding-top: 20px;
}
form{
  height: 110px;
  width: 100px;
  margin: auto;
}

#answer{
  height: 20px;
  width: 100px;
  margin: auto;

}

#subAndClear {
margin-top: 10px;
padding: 10px;
}

body {
  text-align: center;
  background-color: skyblue;
}
