#firstNum, #secondNum, #answer{
    padding-top: 20px;
}
form{
  height: 110px;
  width: 100px;
  margin: auto;
}

#answer{
  height: 20px;
  width: 100px;
  margin: auto;

}

#subAndClear {
margin-top: 10px;
padding: 10px;
}

body {
  text-align: center;
  width: 500px;
  margin: auto;
  background-color: lightgrey;
  padding: 100px;
}

#container {
    width: 400px;
    background-color: skyblue;
    border-radius: 15px;
    margin: 40px auto 30px;
    padding: 10px 10px 10px 10px;
}
